<div class="container">
    <h1>Projects</h1>

    <!-- Steam -->
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="steam-image"></div>
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <h5 class="card-title">Steam Web Project</h5>
                            <p class="card-text">
                                For this project, my team and I developed an E-commerce platform
                                inspired by Steam, enhancing its visual design and functionalities.
                                My role encompassed both front-end and back-end development, ensuring
                                a seamless user experience and robust API performance. On the
                                front-end, we leveraged Angular, Tailwind, and Bootstrap to create a
                                modern and responsive UI. On the back-end, we built a scalable REST
                                API using Node.js and Express, fully implemented in TypeScript.
                                The database was designed using MongoDB, where we optimized data
                                retrieval with search indexes and hierarchical category structures
                                to enable efficient product navigation. This project was an excellent
                                opportunity to work on full-stack development, combining performance
                                optimization with an intuitive and user-friendly interface.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- National Theater Ericka Solano -->
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="card-body">
                            <h5 class="card-title">Digital Twin National Theater</h5>
                            <p class="card-text">
                                I worked on the maintenance and enhancement of a web application
                                designed for a digital twin of the National Theater. My
                                responsibilities included UI updates, and sensor data management for
                                sensor readings. On the backend, I collaborated on a TypeScript-based
                                API, managing SQL queries, controllers, routes, and middlewares to
                                ensure efficient data handling. Additionally, I helped implement
                                automated tasks such as scheduled email notifications. This project
                                provided valuable experience in full-stack development, combining 3D
                                visualization, real-time data storage, and scalable API design.
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="national-theater-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- WikiSearch Nereo -->
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="wikisearch-image"></div>
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <h5 class="card-title">WikiSearch Project</h5>
                            <p class="card-text">
                                I worked on the development of WikiSearch, a search engine that integrates
                                SQL and NoSQL databases to process and query Wikipedia's XML dumps. The project
                                involved full-stack development, data processing, and API integration. On the
                                back-end, we built a Flask API in Python, deployed using Docker, and connected
                                to multiple databases:
                            </p>

                            <ul>
                                <li>Mongo Atlas (NoSQL) with optimized search indexes.</li>
                                <li>Oracle Autonomous Database (SQL) for structured data storage.</li>
                                <li>Oracle NoSQL Database Cloud for logging user queries.</li>
                                <li>Firebase Real-Time Database for authentication.</li>
                            </ul>

                            <p class="card-text">
                                The system included a data loader, developed in Python, which processed
                                Wikipedia's XML dumps stored in Object Storage and efficiently loaded structured
                                data into the databases. The frontend was implemented in React. Additionally,
                                the project was deployed and automated in Oracle Cloud Infrastructure (OCI)
                                using Terraform.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Polaris -->
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="card-body">
                            <h5 class="card-title">Polaris Intercultural Project - Rover for Titan</h5>
                            <p class="card-text">
                                I participated in an intercultural project focused on developing a rover designed for
                                Titan, one of Saturn's moons. The project involved Python and C++ for software
                                development and required collaboration with professionals from different countries,
                                emphasizing the importance of teamwork, leadership, and cultural adaptability. Working
                                in a time-sensitive environment with strict deadlines, I enhanced my ability to manage
                                high-pressure situations while ensuring the successful development of the rover. This
                                experience reinforced the significance of global collaboration in engineering, allowing
                                me to gain valuable insights into diverse problem-solving approaches and cultural
                                perspectives.
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="polaris-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Teacher Management Platform Ericka Solano  -->
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="teacher-platform-image"></div>
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <h5 class="card-title">Teacher Management Platform</h5>
                            <p class="card-text">
                                Developed a web application for managing guiding teacher teams and semester plans for
                                first-year students at ITCR. The project was built using React, Node.js, and Express,
                                leveraging a relational SQL database to ensure data integrity and efficiency. On the
                                backend, I implemented core functionalities and handled API development, while on the
                                frontend, I focused on delivering an intuitive user experience. The application was
                                deployed using AWS Cloud, with Ngrok facilitating remote accessibility. This project
                                strengthened my expertise in full-stack development, database management, and cloud
                                deployment.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Neo4j Project, movie recommendations, mobile app -->
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="card-body">
                            <h5 class="card-title">MovieSearch with Neo4j</h5>
                            <p class="card-text">
                                I worked on the development of MovieSearch, a platform for movie search and
                                recommendations utilizing document-oriented and graph databases. The project involved
                                full-stack development, database integration, and cloud deployment. On the backend, we
                                built a Python-based API, and integrated with MongoDB Atlas (NoSQL) for movie
                                storage and Neo4J (graph database) for relationship-based recommendations. The 
                                mobile application was developed using Thunkable X, with user authentication 
                                managed via Firebase. Connectivity was enhanced using ngrok for seamless API exposure.
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="movie-search-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>