<!--
TODO: It would look better if the background was white (keep the black navbar).
TODO: Finish first the design an then you can change it to white
-->
<div class="container">
    <h1>Projects</h1>

    <!-- Steam -->
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="steam-image"></div>
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <h5 class="card-title">Steam Web Project</h5>
                            <p class="card-text">
                                For this project, my team and I developed an E-commerce platform
                                inspired by Steam, enhancing its visual design and functionalities.
                                My role encompassed both front-end and back-end development, ensuring
                                a seamless user experience and robust API performance. On the
                                front-end, we leveraged Angular, Tailwind, and Bootstrap to create a
                                modern and responsive UI. On the back-end, we built a scalable REST
                                API using Node.js and Express, fully implemented in TypeScript.
                                The database was designed using MongoDB, where we optimized data
                                retrieval with search indexes and hierarchical category structures
                                to enable efficient product navigation. This project was an excellent
                                opportunity to work on full-stack development, combining performance
                                optimization with an intuitive and user-friendly interface.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- National Theater Ericka Solano -->
        <!-- WikiSearch Nereo -->
        <!-- Polaris -->
        <!-- Teacher Management Platform Ericka Solano  -->

    </div>