body {
    background-color: #000;
    color: #fff;
}

body.white-background {
    background-color: #fff !important;  
    color: #000;
}

h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

a, span, p {
    font-family: 'Poppins', sans-serif;
}

h1 {
    //font-family: "League Gothic", serif;
    font-family: 'Libre Baskerville', sans-serif;
}